.NavActive {
  font-size: 38px;
  font-weight: bold;
  border-bottom: #fff600 solid 5px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0 90%,
    0 90%,
    45% 90%,
    45% 100%,
    0 100%
  );
}

.NavLink {
  font-size: 32px;
  border-bottom: #fff600 solid 5px;
  transition: all 0.3s;
  color: #000;
  cursor: pointer;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0 90%,
    0 90%,
    0 90%,
    0 100%,
    0 100%
  );
}

.NavLink:hover {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 90%,
    0 90%,
    0 90%,
    45% 90%,
    45% 100%,
    0 100%
  );
}

.HomepageSpacer {
  height: calc(100vh - 187px);
  z-index: -1;
  min-height: 780px;
}

.Placeholder {
  height: 136px;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .Nav {
    display: none;
  }
}
