a {
  text-decoration: none;
  color: inherit;
}

.HoverWhite:hover {
  color: #fff;
  transition: all 0.5s;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  width: 100%;
}

.Fixed{
  position: fixed;
  top: 0px;
  width: 100%;
}